body {
    background-color: rgb(88, 88, 84);
    background-repeat:no-repeat;
}

/*--FONTS--*/
@font-face {font-family: NotoSans-Regular;src: url(Fonts/NotoSans-Regular.ttf);}
@font-face {font-family: NotoSans-Light;src: url(Fonts/NotoSans-Light.ttf);}
@font-face {font-family: Poppins;src: url(Fonts/Poppins-Medium.ttf);}
@font-face {font-family: Roboto;src: url(Fonts/Roboto-Medium.ttf);}
/*---------*/

/*---TEXT--*/
p {
    font-family: Roboto;
    color:rgb(255, 255, 255);
    z-index: 1;
    text-align: center;
}

h3 {
    font-family: Poppins;
    z-index: 1;
}

h2 {
    font-family: NotoSans-Regular;
    color:rgb(200, 199, 202);
    text-align: center;
}

h1 {
    font-family: sans-serif;
    color:#4c00ff;
    text-align: center;
    z-index: 1;
}

h5 {
    color:rgb(255, 255, 255);
    text-align: center;
}

h6 {
    color:rgb(39, 0, 146);
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/*--------*/
